#svg *,
.svg * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#waitform {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    cursor: wait;
}

a {
    color: gray;
}

em {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    font-style: normal;
    padding: 0px 3px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

body {
    font-family: Georgia;
}

h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
}

p {
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.control_panel {
    padding: 15px;
    padding-bottom: 0px;
    position: absolute;
    z-index: 10;
}


/*
     FILE ARCHIVED ON 23:10:46 Aug 14, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:16:27 May 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/


/*
playback timings (ms):
  captures_list: 111.906
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.054
  RedisCDXSource: 7.877
  esindex: 0.009
  LoadShardBlock: 84.726 (3)
  PetaboxLoader3.datanode: 117.795 (4)
  load_resource: 508.452
  PetaboxLoader3.resolve: 456.92
*/